---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Decentralized betting",
    description:
      "Kripto Futbol offers a decentralized, censorship-resistant betting platform, which allows users to place bets without any intermediaries or centralized authorities.",
    icon: "mdi:handshake",
  },
  {
    title: "Membership-free",
    description:
      "Unlike traditional betting platforms, Kripto Futbol does not require any KYC or credit card information, which ensures complete privacy and security for users.",
    icon: "mdi:feather",
  },
  {
    title: "Kripto Futbol token",
    description:
      "Kripto Futbol introduces its own token, which can be used for betting, staking, and earning rewards on the platform. This token brings a new level of trust and transparency to the world of sports betting.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Non-fungible tokens (NFTs)",
    description:
      "Kripto Futbol offers unique NFTs that provide users with special privileges, benefits, and rewards on the platform. These NFTs can be earned for achievements and provide a new level of collectibility and value, giving users access to exclusive features and benefits that enhance their betting experience.",
    icon: "mdi:graph",
  },
  {
    title: "User-friendly interface",
    description:
      "Kripto Futbol leverages modern web3 technologies to create a seamless and user-friendly interface that provides a highly engaging experience for users. The platform's modern interface is designed with simplicity and ease of use in mind, allowing users to navigate the platform with ease and place bets in just a few clicks.",
    icon: "mdi:search-web",
  },
  {
    title: "Strong security measures:",
    description:
      "Kripto Futbol's priority is user security and compliance with local regulations and licensing requirements. The platform utilizes the power of blockchain technology to provide strong security measures that protect user data and funds.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
          
    Kripto Futbol is a web3 <span class="text-primary">betting platform</span>. that leverages
    the power of blockchain technology
    <span class="text-primary">to create a decentralized,</span>
    censorship-resistant, and membership-free ecosystem <span class="text-primary">for football fans around the world</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
